
# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Django settings files (local settings, for example)
*.env
*.local

# Django migration files
*/migrations/*.py

# Media and Static files
/media/
/static/

# Virtual environment (if using venv)
venv/
env/
ENV/

# Database files
*.sqlite3

# IDE files (example for VSCode, adjust if using other editors)
.vscode/
.idea/

# Node modules (if using Node.js or NPM)
node_modules/

# Build directories (if using frontend build tools)
dist/
build/
public/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
